<md-toolbar class="md-whiteframe-z2">
    <div class="md-toolbar-tools">

        <md-button ng-click="rc.toggleSidenav('mainMenu')" hide-gt-md class="md-icon-button"
                   aria-label="{{'Main menu' | translate}}">
            <ng-md-icon icon="menu" style="fill:white"></ng-md-icon>
        </md-button>
        <h2>
            <span>{{rc.clubName}}</span>
        </h2>

        <span flex></span>

        <md-button class="md-raised md-accent" ng-show="!rc.loggedIn" ng-href="/register">
            {{'Register' | translate}}</md-button>
        <md-button class="md-raised md-accent" ng-show="!rc.loggedIn" ng-href="/login">
            {{'Sign in' | translate}}</md-button>
        <!--TODO:add account photo and name to button-->
        <md-button class="md-raised md-accent" ng-show="rc.loggedIn" ng-click="rc.logout()" ng-href="/">
            {{'Sign out' | translate}}</md-button>

        <md-menu>
            <md-button aria-label="{{'Language' | translate}}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <ng-md-icon icon="language" style="fill:white"></ng-md-icon>
            </md-button>
            <md-menu-content width="1">
                <md-menu-item  ng-repeat="lng in rc.languages">
                    <md-button ng-click="rc.setLanguage(lng)">
                        {{lng}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button ng-click="rc.showStaffboardMenu=!rc.showStaffboardMenu" ng-show="rc.isStaff"
                   class="md-icon-button" aria-label="{{'For staff' | translate}}">
            <ng-md-icon icon="cake" style="fill:white"></ng-md-icon>
        </md-button>

    </div>
</md-toolbar>
