<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -x
DBNAME=&quot;rest_db&quot;
USER=root
PASSWD=gymio

echo &quot;Wiping migrations&quot;
sudo rm -r /vagrant/backend/rest_api/sc1/migrations/

echo &quot;Creating virtual python environment&quot;
source /usr/local/bin/virtualenvwrapper.sh
#need Python 3.4.3 installed:
mkvirtualenv --python=/usr/bin/python3.4 gymio_django_env

echo &quot;Installing python packajes to virtual environment&quot;
cd /vagrant/backend/rest_api
pip install -Ur requirements.txt

RESULT=`mysqlshow -v --user=$USER --password=$PASSWD | grep -v Wildcard | grep -o $DBNAME` 

echo &quot;+++ DBNAME:$DBNAME&quot;
echo &quot;+++ RESULT:$RESULT&quot;

if [ $DBNAME == &quot;$RESULT&quot; ]; then
    echo &quot;+++ Dropping $DBNAME DB ...&quot;
    mysqladmin --force -u$USER -p$PASSWD drop $DBNAME 
fi
echo &quot;+++ Creating $DBNAME DB ...&quot;
echo &apos;CREATE DATABASE &apos;$DBNAME&apos; CHARACTER SET utf8;&apos; | mysql -v -u $USER -p$PASSWD

python manage.py makemigrations sc1
python manage.py migrate
python manage.py loaddata test_data.json

echo "Installing bower and dependencies"
sudo npm install -g bower
cd /vagrant/frontend/generic_web_client/_bower/
bower install
</command>
    </hudson.tasks.Shell>
    <jenkins.plugins.shiningpanda.builders.CustomPythonBuilder plugin="shiningpanda@0.22">
      <home>/home/vagrant/.virtualenvs/gymio_django_env/bin/python</home>
      <nature>python</nature>
      <command>import os
import sys

os.environ.setdefault(&quot;DJANGO_SETTINGS_MODULE&quot;, &quot;rest_api.settings&quot;)
sys.path.append(&quot;/vagrant/backend/rest_api&quot;)

from sc1.models import ClubUser

ClubUser.objects.create_superuser(username=&apos;admin&apos;, password=&apos;gymio&apos;, user_birthday=&apos;1900-01-01&apos;, user_full_name=&apos;Ivanov Ivan Ivanovich&apos;)</command>
      <ignoreExitCode>false</ignoreExitCode>
    </jenkins.plugins.shiningpanda.builders.CustomPythonBuilder>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>RunBackendDevPythonWebServer</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>