<div class="col-lg-4 col-lg-offset-4">
    <form role="login" ng-submit="lc.login()">
        <h2 translate>Please sign in</h2>

        <label for="inputUsername" class="sr-only" translate>Login</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="{{'Login' | translate}}" required
               autofocus
               ng-model="lc.username">
        <label for="inputPassword" class="sr-only" translate>Password</label>

        <input type="password" id="inputPassword" class="form-control" placeholder="{{'Password' | translate}}" required
               ng-model="lc.password">

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" ng-model="lc.rememberMe"> {{'Remember me' | translate}}
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" ng-disabled="!lc.username || !lc.password" type="submit"
                translate>Sign in
        </button>

        <div>
            <p class="text-danger">{{lc.loginErrorText}}</p>
        </div>
    </form>
</div>