<md-content flex-offset="25" flex="50">
    <form layout="column" layout-align="center stretch" ng-submit="lc.login()">
        <h2 class="md-headline" translate>Please sign in</h2>

        <md-input-container flex="50">
            <label translate>Login</label>
            <input type="text" required ng-model="lc.username">
        </md-input-container>

        <md-input-container>
            <label translate>Password</label>
            <input type="password" required ng-model="lc.password">
        </md-input-container>

        <md-checkbox ng-model="lc.rememberMe">
            {{'Remember me' | translate}}
        </md-checkbox>

        <md-button type="submit" ng-disabled="!lc.username || !lc.password" class="md-raised md-primary">
            {{'Sign in' | translate}}
        </md-button>
    </form>
</md-content>
