<!--TODO: add translation ASAP-->
<div class="col-lg-4 col-lg-offset-4">
    <form role="form" ng-submit="rc.register()">
        <h2>Register</h2>

        <label for="registerUsername" class="sr-only">Login name</label>
        <input type="text" id="registerUsername" class="form-control" placeholder="Login name" required autofocus
               ng-model="rc.username">

        <label for="registerPassword" class="sr-only">Password</label>
        <input type="password" id="registerPassword" class="form-control" placeholder="Password" required
               ng-model="rc.password">

        <label for="registerUserFullName" class="sr-only">Full name</label>
        <input type="text" id="registerUserFullName" class="form-control" placeholder="Full name" required
               ng-model="rc.userFullName">

        <label for="registerUserPhone" class="sr-only">Phone</label>
        <input type="text" id="registerUserPhone" class="form-control" placeholder="Phone" required ng-model="rc.userPhone">

        <div class="radio-inline">
            <label>
                <input type="radio" name="gender" ng-model="rc.userGender" ng-value="false">
                Female
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" name="gender" ng-model="rc.userGender" ng-value="true">
                Male
            </label>
        </div>

        <div class="form-group">
            <label for="registerUserBirthday">Birthday date</label>
            <input type="date" id="registerUserBirthday" class="form-control" required ng-model="rc.userBirthday">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <!--TODO: data validation-->

        <div>
            <p class="text-danger">{{rc.registerErrorText}} Я валидация данных и меня тут нет в помине.</p>
        </div>
    </form>
</div>


